Repository roan-rs/roan, pull requests merged in 2024-10, with the labels that each got.

#9 Refactor ast
  core/ast/src/ast.rs
  core/ast/src/ast/expr.rs
  core/ast/src/ast/mod.rs
  core/ast/src/ast/statements.rs
Labels: documentation, 🔨Enhancement

#12 ench: extract bin operators to Value
  core/engine/src/module/mod.rs
  core/engine/src/vm/value.rs
  playground/src/main.roan
Labels: 🔨Enhancement

#13 Split parser into multiple files and add documentation
  core/ast/src/lib.rs
  core/ast/src/parser.rs
  core/ast/src/parser/expressions.rs
  core/ast/src/parser/mod.rs
  core/ast/src/parser/statements.rs
Labels: documentation, 🔨Enhancement

#16 Add loop and while
  build/std/io.roan
  build/std/lib.roan
  cli/std.tar
  core/ast/src/ast/expr.rs
  core/ast/src/ast/statements.rs
  core/ast/src/lexer/mod.rs
  core/ast/src/lexer/token.rs
  core/ast/src/parser/expressions.rs
  core/ast/src/parser/statements.rs
  core/engine/src/module/mod.rs
  core/error/src/diagnostic.rs
  core/error/src/error.rs
  playground/src/main.roan
Labels: 🔨Enhancement

#18 Refactor module
  core/ast/src/lexer/mod.rs
  core/engine/src/context.rs
  core/engine/src/interpreter/expr.rs
  core/engine/src/interpreter/mod.rs
  core/engine/src/interpreter/stmt.rs
  core/engine/src/lib.rs
  core/engine/src/module/loaders/basic.rs
  core/engine/src/module/loaders/mod.rs
  core/engine/src/module/mod.rs
  core/engine/src/vm/native_fn.rs
  playground/src/main.roan
Labels: documentation, 🔨Enhancement

#20 Spread operator
  cli/std.tar
  core/ast/src/ast/expr.rs
  core/ast/src/parser/expressions.rs
  core/engine/src/interpreter/expr.rs
  core/engine/src/interpreter/stmt.rs
  core/engine/src/lib.rs
  core/engine/src/natives/io.rs
  core/engine/src/value/mod.rs
  core/engine/src/vm/native_fn.rs
  core/error/src/diagnostic.rs
  core/error/src/error.rs
  lib/io.roan
  lib/lib.roan
  playground/src/main.roan
Labels: 🔨Enhancement

#21 fix: issue with vm sharing
  cli/src/commands/run.rs
  cli/std.tar
  core/ast/src/ast/statements.rs
  core/engine/src/context.rs
  core/engine/src/interpreter/expr.rs
  core/engine/src/interpreter/stmt.rs
  core/engine/src/module/mod.rs
  core/engine/src/natives/io.rs
  core/engine/src/natives/mod.rs
  core/engine/src/vm/mod.rs
  core/engine/src/vm/native_fn.rs
  lib/io.roan
  playground/src/main.roan
Labels: 🧨Bug

#22 Simplify io std and natives
  cli/std.tar
  core/ast/src/ast/expr.rs
  core/ast/src/parser/expressions.rs
  core/engine/src/interpreter/expr.rs
  core/engine/src/lib.rs
  core/engine/src/natives/io.rs
  core/engine/src/natives/mod.rs
  core/engine/src/value/methods/string.rs
  core/engine/src/value/methods/vec.rs
  core/engine/src/value/mod.rs
  core/engine/src/vm/native_fn.rs
  lib/io.roan
  playground/src/main.roan
Labels: 🔨Enhancement

#25 New string methods
  cli/src/commands/run.rs
  cli/std.tar
  core/ast/src/ast/expr.rs
  core/ast/src/ast/statements.rs
  core/ast/src/lexer/mod.rs
  core/ast/src/parser/expressions.rs
  core/engine/src/context.rs
  core/engine/src/interpreter/expr.rs
  core/engine/src/interpreter/mod.rs
  core/engine/src/interpreter/stmt.rs
  core/engine/src/lib.rs
  core/engine/src/macros.rs
  core/engine/src/module/loaders/basic.rs
  core/engine/src/module/loaders/mod.rs
  core/engine/src/module/mod.rs
  core/engine/src/natives/io.rs
  core/engine/src/natives/mod.rs
  core/engine/src/value/methods/string.rs
  core/engine/src/value/methods/vec.rs
  core/engine/src/value/mod.rs
  core/engine/src/vm/mod.rs
  core/engine/src/vm/native_fn.rs
  core/error/src/diagnostic.rs
  playground/src/main.roan
Labels: 🔨Enhancement

#27 New workflows
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/dep-review.yaml
  .github/workflows/labeler.yml
  .github/workflows/stale.yaml
Labels: C-enhancement, D-easy

#34 Try/Catch
  cli/std.tar
  core/engine/src/interpreter/expr.rs
  core/engine/src/interpreter/stmt.rs
  core/engine/src/module/mod.rs
  core/error/src/frame.rs
  playground/src/main.roan
Labels: A-cli, A-error, A-module, A-interpreter

#36 Add std::process and rusty hook
  .github/workflows/labeler.yml
  cli/std.tar
  core/ast/src/ast/expr.rs
  core/ast/src/ast/statements.rs
  core/ast/src/parser/expressions.rs
  core/engine/src/interpreter/expr.rs
  core/engine/src/interpreter/stmt.rs
  core/engine/src/natives/mod.rs
  core/engine/src/natives/process.rs
  core/error/src/diagnostic.rs
  core/error/src/frame.rs
  lib/process.roan
  playground/src/main.roan
Labels: A-parser, A-cli, A-error, A-natives, A-interpreter

#44 Refactor type system
  cli/std.tar
  core/ast/src/ast/statements.rs
  core/ast/src/lexer/mod.rs
  core/ast/src/lexer/token.rs
  core/ast/src/parser/expressions.rs
  core/ast/src/parser/mod.rs
  core/ast/src/parser/statements.rs
  core/engine/src/interpreter/expr.rs
  core/engine/src/interpreter/stmt.rs
  core/engine/src/natives/mod.rs
  core/engine/src/value/mod.rs
  core/engine/src/vm/native_fn.rs
  playground/src/main.roan
Labels: A-lexer, A-parser, A-cli, A-value, A-natives, A-interpreter

#45 Refactor/split std::io
  cli/std.tar
  core/ast/src/ast/expr.rs
  core/ast/src/ast/statements.rs
  core/engine/src/interpreter/stmt.rs
  core/engine/src/natives/mod.rs
  core/engine/src/vm/native_fn.rs
  core/error/src/diagnostic.rs
  core/error/src/error.rs
  core/error/src/span.rs
  lib/debug.roan
  lib/format.roan
  lib/io.roan
  lib/lib.roan
  playground/src/main.roan
Labels: A-cli, A-error, A-natives, A-interpreter

#46 Implement then-else expressions
  cli/std.tar
  core/ast/src/ast/expr.rs
  core/ast/src/lexer/mod.rs
  core/ast/src/lexer/token.rs
  core/ast/src/parser/expressions.rs
  core/engine/src/interpreter/expr.rs
  core/engine/src/value/mod.rs
  core/engine/src/vm/native_fn.rs
  core/error/src/span.rs
  lib/debug.roan
  playground/src/main.roan
Labels: A-lexer, A-parser, A-cli, A-error, A-value, A-interpreter

#47 Refactor/enchance cli
  Cargo.lock
  Cargo.toml
  cli/.gitignore
  cli/Cargo.toml
  cli/src/cli.rs
  cli/src/commands/run.rs
  cli/src/config_file.rs
  cli/src/context.rs
  cli/src/fs.rs
  cli/src/logger.rs
  cli/src/main.rs
  cli/src/stds.rs
  cli/src/style.rs
  core/ast/Cargo.toml
  core/ast/src/parser/expressions.rs
  core/ast/src/parser/mod.rs
  core/ast/src/parser/statements.rs
  core/ast/src/source.rs
  core/engine/Cargo.toml
  core/engine/src/context.rs
  core/engine/src/interpreter/expr.rs
  core/engine/src/interpreter/stmt.rs
  core/engine/src/module/loaders/basic.rs
  core/engine/src/module/loaders/mod.rs
  core/engine/src/module/mod.rs
  core/engine/src/vm/native_fn.rs
  core/error/Cargo.toml
  playground/roan.toml
  playground/src/lib.roan
  playground/src/main.roan
  tools/logs/Cargo.toml
  tools/logs/src/entries.rs
  tools/logs/src/gui.rs
  tools/logs/src/main.rs
  tools/logs/src/table.rs
Labels: A-parser, A-cli, A-error, A-module, A-module-loader, A-interpreter

#49 Implement anytype
  cli/std.tar
  core/ast/src/ast/statements.rs
  core/ast/src/parser/statements.rs
  core/engine/src/natives/debug.rs
  core/engine/src/natives/mod.rs
  core/engine/src/vm/native_fn.rs
  core/error/src/diagnostic.rs
  core/error/src/error.rs
  lib/debug.roan
  lib/format.roan
  lib/lib.roan
  playground/src/main.roan
  tools/logs/src/gui.rs
Labels: A-parser, A-cli, A-error, A-natives

#50 feat(std): add String::new method
  cli/std.tar
  lib/string.roan
  playground/src/main.roan
Labels: A-cli, 0-merge

#51 feat: add new char type
  cli/std.tar
  core/ast/src/ast/expr.rs
  core/ast/src/lexer/mod.rs
  core/ast/src/lexer/token.rs
  core/ast/src/parser/expressions.rs
  core/ast/src/parser/statements.rs
  core/engine/src/value/mod.rs
  lib/string.roan
  playground/src/main.roan
Labels: A-lexer, A-parser, A-cli, A-value, 0-merge

#52 feat: add natives methods for char type
  core/engine/src/value/methods/char.rs
  core/engine/src/value/mod.rs
  playground/src/main.roan
Labels: A-lexer, A-parser, A-cli, A-value, 0-merge

#54 fix: return char in string.chars()
  core/engine/src/value/methods/string.rs
Labels: A-value

#53 chore: remove unused methods
  cli/std.tar
  core/engine/src/value/methods/string.rs
  core/engine/src/value/mod.rs
Labels: A-cli, A-value

#56 fix: implement PartialEq for Value::Char
  core/engine/src/value/mod.rs
Labels: A-value

#55 tests: add tests for char methods
  core/engine/src/value/methods/char.rs
Labels: A-value

#58 tests: remove old tests
  cli/std.tar
  core/engine/src/value/methods/string.rs
Labels: A-cli, A-value

#57 tests: bring back string.chars() test
  core/engine/src/value/methods/string.rs
Labels: A-value

#59 tests: update test_combine_empty to adjust to new behaviour
  core/error/src/span.rs
Labels: A-cli, A-error, 0-merge

#60 create base struct for base64 encoder and update trait impls for Value
  .github/workflows/release.yaml
  cli/std.tar
  core/engine/src/value/mod.rs
  lib/base64.roan
  playground/src/main.roan
Labels: A-cli, A-value

#61 change Base64Encoder
  cli/std.tar
  lib/base64.roan
  playground/src/main.roan
Labels: A-cli

#62 ench: extract some functions from match in interpret_stmt
  core/engine/src/interpreter/stmt.rs
Labels: A-interpreter

#63 feat: implement struct methods and improve module handling
  core/engine/src/interpreter/expr.rs
  core/engine/src/interpreter/stmt.rs
  core/engine/src/module/mod.rs
  core/engine/src/value/mod.rs
  playground/src/main.roan
Labels: A-cli, A-module, A-value, A-interpreter

#65 feat: add debug for Value, fix executing calls with self params, add calc_size to Base64Encoder
  cli/std.tar
  core/engine/src/interpreter/expr.rs
  core/engine/src/value/mod.rs
  core/engine/src/vm/native_fn.rs
  lib/base64.roan
  playground/src/main.roan
Labels: A-cli, A-value, A-interpreter

#67 feat: encoding values in Baes64Encoder
  cli/std.tar
  core/ast/src/ast/statements.rs
  core/ast/src/lexer/token.rs
  core/ast/src/parser/statements.rs
  core/engine/src/value/methods/char.rs
  core/engine/src/value/mod.rs
  core/error/src/diagnostic.rs
  lib/base64.roan
  playground/src/main.roan
Labels: A-lexer, A-parser, A-cli, A-error, A-value

#68 docs: add docs for new_const and parse_const
  cli/std.tar
  core/ast/src/ast/statements.rs
  core/ast/src/parser/statements.rs
Labels: A-parser, A-cli

#69 fix: store modules and update them when needed
  Cargo.lock
  Cargo.toml
  cli/src/commands/run.rs
  cli/std.tar
  core/ast/src/ast/statements.rs
  core/ast/src/lexer/mod.rs
  core/ast/src/parser/statements.rs
  core/engine/Cargo.toml
  core/engine/src/context.rs
  core/engine/src/interpreter/expr.rs
  core/engine/src/interpreter/stmt.rs
  core/engine/src/module/loaders/basic.rs
  core/engine/src/module/loaders/mod.rs
  core/engine/src/module/mod.rs
  core/engine/src/vm/mod.rs
  core/engine/src/vm/native_fn.rs
  playground/src/main.roan
Labels: A-lexer, A-parser, A-cli, A-module, A-module-loader, A-interpreter

#70 add load_module to Context and use it to fix import issues
  core/engine/src/context.rs
  core/engine/src/interpreter/stmt.rs
  playground/src/main.roan
Labels: A-interpreter

#71 10 26 add load module to context and use it to fix import issues
  Cargo.lock
  Cargo.toml
  cli/src/commands/run.rs
  core/ast/src/ast/statements.rs
  core/ast/src/lexer/mod.rs
  core/ast/src/lexer/token.rs
  core/ast/src/parser/statements.rs
  core/engine/Cargo.toml
  core/engine/src/context.rs
  core/engine/src/interpreter/expr.rs
  core/engine/src/interpreter/stmt.rs
  core/engine/src/module/loaders/basic.rs
  core/engine/src/module/loaders/mod.rs
  core/engine/src/module/mod.rs
  core/engine/src/value/methods/char.rs
  core/engine/src/value/mod.rs
  core/engine/src/vm/mod.rs
  core/engine/src/vm/native_fn.rs
  core/error/src/diagnostic.rs
  lib/base64.roan
  playground/src/main.roan
Labels: A-lexer, A-parser, A-cli, A-error, A-module, A-module-loader, A-value, A-interpreter

#73 fix some structs and imports realted issues
  cli/src/commands/run.rs
  cli/src/context.rs
  cli/src/main.rs
  cli/std.tar
  core/ast/src/ast/statements.rs
  core/engine/src/interpreter/expr.rs
  core/engine/src/interpreter/stmt.rs
  core/engine/src/module/mod.rs
  core/engine/src/value/mod.rs
  lib/base64.roan
  playground/src/main.roan
Labels: A-cli, A-module, A-value, A-interpreter

#74 refactor: lexer and split it into multiple files
  cli/std.tar
  core/ast/src/lexer/identifier.rs
  core/ast/src/lexer/mod.rs
  core/ast/src/lexer/string.rs
Labels: A-lexer, A-cli

#75 feat: handle binary, octal and hex to number parsing
  cli/std.tar
  core/ast/src/lexer/mod.rs
  core/ast/src/lexer/number.rs
  playground/src/main.roan
Labels: A-lexer, A-cli

#82 feat: object expressions
  Cargo.lock
  Cargo.toml
  cli/std.tar
  core/ast/Cargo.toml
  core/ast/src/ast/expr.rs
  core/ast/src/lexer/token.rs
  core/ast/src/parser/expressions.rs
  core/ast/src/parser/statements.rs
  core/engine/Cargo.toml
  core/engine/src/interpreter/expr.rs
  core/engine/src/value/mod.rs
  playground/src/main.roan
Labels: A-lexer, A-parser, A-cli, A-value, A-interpreter

#84 refactor: add some helpers for spread exprs
  core/engine/src/interpreter/expr.rs
  core/engine/src/interpreter/functions.rs
Labels: A-interpreter

#85 feat: add justfile for tasks
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  core/ast/Cargo.toml
  core/engine/Cargo.toml
  core/engine/src/interpreter/access.rs
  core/engine/src/interpreter/functions.rs
  core/engine/src/value/mod.rs
  core/error/Cargo.toml
  core/error/src/error.rs
  justfile
Labels: A-cli, A-error, A-value, A-interpreter

#86 feat: resolve specifiers for modules
  cli/src/commands/run.rs
  cli/src/context.rs
  core/engine/src/context.rs
  core/engine/src/interpreter/stmt.rs
  core/engine/src/module/loaders/basic.rs
  core/engine/src/module/loaders/ident.rs
  core/engine/src/module/loaders/mod.rs
  core/engine/src/value/methods/vec.rs
  playground/src/main.roan
Labels: A-cli, A-module-loader, A-value, A-interpreter
